* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

/* navber style start */
.nav-section {
    height: 5rem;
    display: flex;
    justify-content: space-around;

}

.nav-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.nav-1 span {
    color: #FF42A5;
}

.nav-1 h3 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-2 {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

#Follow-svg {
    width: 160px;
    /* height: 20px; */
    /* border: 1px solid #FF42A5; */
    flex-shrink: 0;
    padding: 0.5rem 0.8em;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* navber style end */


/* benar section style start */
.benar-section {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: ffffff;
    margin-top: 3rem;

}

.benar-1 {
    height: 25rem;
    margin-left: 4rem;

}

.benar-2>img {
    height: 30rem;

}


.benar-1 h2 {
    color: #0B0223;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.benar-1 h1 {
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benar-1 p {
    color: #534C64;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.baner-btn {
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.baner-btn-2 {
    padding: 1rem 2rem;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

/* benar section style end */

/* main section style start  */


.section-title-1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

}

.section-title-1 h1 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-title-1>h1>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-title-1 small {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.img-section {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    margin-left: 8rem;
    gap: 3rem;

}

.img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.img-section img {
    width: 15rem;

}

.img-section small {
    color: #534C64;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.main-section-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
}

.play-section {
    width: 20%;
}

.play-section h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

.play-section>h1>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-section p {
    color: #534C64;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}

.play-img {
    width: 30%;
    position: relative;
}

.play-img img {
    width: 30rem;
}

#img-mane {
    position: absolute;
    top: 60%;
    left: -18%;
    width: 15rem;

}

/* main section style end */
/* responsiv for mobile style is tart */
@media screen and (max-width: 525px) {
    .nav-section {
        flex-direction: column;
        height: 20rem;

    }

    .nav-1 {
        justify-content: center;
    }

    .nav-2 {
        flex-direction: column;
    }

    .benar-section {
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 5rem;
        height: 30rem;

    }

    .benar-1 {
        margin-top: 2rem;

    }

    .benar-1 h2 {
        font-size: 38px;
        text-align: center;

    }

    .benar-1 h1 {
        font-size: 80px;
        text-align: center;

    }

    .benar-2 img {
        height: 17rem;
    }

    /* .main-section {
        margin-top: 10rem;
        margin-bottom: 10rem;

    } */

    .section-title-1 h1 {
        font-size: 28px;

    }

    .section-title-1>h1>span {
        font-size: 28px;

    }

    .section-title-1 small {
        font-size: 12px;
    }

    .img-section {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .img-section img {
        width: 20rem;
    }

    .img {
        margin-right: 8rem;
    }

    .img-section small {
        margin-left: 3rem;
    }

    .main-section-2 {
        flex-direction: column;
        margin-top: 10rem;

    }

    .play-section {
        width: 50%;
    }

    .play-section h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .play-section p {
        font-size: 0.7rem;
        line-height: 1rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .play-img {
        width: 70%;

    }

    .play-img img {
        width: 20rem;
    }

    #img-mane {
        width: 8rem;
    }

}